<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="index.html">Curriculum Vitae</a>
          </div>
          <nav>
            <a class="active" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="blog.html">Blog</a>
            <a href="contact.html">Contact</a>
            <a href="upload.html">Upload</a>
          </nav>
        </div>
      </header>
      <div class="banner-area">
        <h2>Welcome to <%= title %>!</h2>
      </div>
      <div class="content-area">
        <div class="wrapper">
          <h2>Resume</h2><br>
            <table>
              <tr>
                <th>Personal Information</th>
                <th>Contact</th>
              </tr>
              <tr>
                <td>Kenji Jaculbia</td>
                <td>Kpjaculbia@student.hau.edu.ph</td>
              </tr>
              <tr>
                <td>November 20, 2002</td>
                <td>+639199683560</td>
              </tr>
              <tr>
                <td>20</td>
                <td>Balibago, Angeles City</td>
              </tr>
              <tr>
                <td>Gueco Balibago Elementary School | 2009-2015</td>
                <td></td>
              </tr>
              <tr>
                <td>Rafael L. Lazatin Memorial High School | 2015-2019</td>
                <td></td>
              </tr>
              <tr>
                <td>STI College Angeles | 2019-2021</td>
                <td></td>
              </tr>
            </table>
      </div>
    </div>   
</body>
</html>